

	h1 {color:blue;
		font-family:arial;
		text-align:center;
		}
	p  {color:blue;
	   font-family:arial;
	   line-height:130%;
	   text-align:center;
	  }
	p1	{color:blue;
		font-family:arial;
	}
	hidden	{display:none;
	}
	